<!doctype html>
<html>

<head>
	<title>Dashboard</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
</head>

<body>
	<h1 style="font-family:Arial">Dashboard</h1>
	<h3 style="font-family:Arial">Response times to requests in the last hour</h3>
	<input name="fill" type="checkbox" id="fill" onclick="fill()" />
	<label for="fill"> Fill/Unfill under lines</label><br>
	<div style="width:80%;">
		<canvas id="canvas"></canvas>
	</div>
	<div>
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<script>
		let value = 0;
		function fill() {		
			if(value == 0)
			{
				for(i=0 ; i<4 ; i++)
				{
					window.myLine.data.datasets[i].fill = true;
				}
				value = 1;
			}
			else
			{
				for(i=0 ; i<4 ; i++)
				{
					window.myLine.data.datasets[i].fill = false;
				}
				value = 0;
			}
			window.myLine.update();
		}
		var timeFormat = 'HH:mm:ss';
		var color = Chart.helpers.color;
		var config = {
			type: 'line',
			data: {
				labels: [ 
				],
				datasets: [{
					label: 'GET',
					lineTension: 0,
					backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					borderColor: window.chartColors.red,
					fill: false,
					data: [
					],
				},{
					label: 'POST',
					lineTension: 0,
					backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					borderColor: window.chartColors.blue,
					fill: false,
					data: [
					],
				},{
					label: 'PUT',
					lineTension: 0,
					backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
					borderColor: window.chartColors.yellow,
					fill: false,
					data: [
					],
				},{
					label: 'DELETE',
					lineTension: 0,
					backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
					borderColor: window.chartColors.purple,
					fill: false,
					data: [
					],
				}]
			},
			options: {
				title: {
					text: 'Request Time Scale'
				},
				scales: {
					xAxes: [{
						type: 'time',
						time: {
							parser: timeFormat,
							tooltipFormat: 'HH:mm:ss'
						},
						scaleLabel: {
							display: true,
							labelString: 'date'
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'response time (ms)'
						}
					}]
				},
			}
		};
        update = async function(){
                const response = await fetch('http://127.0.0.1:8080/data');
                const data = await response.text();
                parse_data = JSON.parse(data);

				get_datas = []
				put_datas = []
				post_datas = []
				del_datas = []

				parse_data.forEach(element => {
					if(element.method == "GET")
						get_datas.push({ x: new Date(element.timestamp * 1000), y: element.response_time });  
					else if(element.method == "PUT")
						put_datas.push({ x: new Date(element.timestamp * 1000), y: element.response_time }); 
					else if(element.method == "POST")
						post_datas.push({ x: new Date(element.timestamp * 1000), y: element.response_time }); 
					else del_datas.push({ x: new Date(element.timestamp * 1000), y: element.response_time }); 
                });

				window.myLine.data.datasets[0].data = get_datas;
				window.myLine.data.datasets[1].data = put_datas;
				window.myLine.data.datasets[2].data = post_datas;
				window.myLine.data.datasets[3].data = del_datas;

                window.myLine.update();
        }
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
			update();
			var intervalId = setInterval(update, 3000);
		};
	</script>
</body>

</html>
